{% extends "myapp/index.html" %}

{% block title %}Cadastro de Usuário{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Cadastro de Usuário</div>
        <div class="card-body">
          {% if messages %}
            <ul class="list-group">
              {% for message in messages %}
                <li class="list-group-item {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <form action="/adicionar/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}